/TDAPila/nbproject/private/
/UsoTDAPila/nbproject/private/
/UsoTDAPila/build/
/UsoTDAPila/dist/
/TDAPila/build/
/TDAPila/dist/
/Unidad II/Recursividad/nbproject/private/
/Unidad II/Recursividad/build/
/Unidad II/Recursividad/dist/
/Unidad III/ListaNumeros/build/
/Unidad III/ListaCadenas/nbproject/private/
/Unidad III/ListaCadenas/build/